/* Botones de la nav bar */

.boton-navbar{
    color: #ffffff;
    text-decoration: none;
}

.boton-navbar:hover{
    color: #FF1E56;

}

/* Imagenes carrusel */

.c-item{
    height: 15rem;
}

.c-img{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Seccion info */

.custom-card{
    color: #eaeaea;
    padding: 5%;
    text-align: justify;
}

.card-image{
    width: 100%;
    object-fit: cover;
}

.custom-card-2{
    background-color: #525050;
}

.custom-card-3{
    background-color: #666464;
}

/*  Footer */

.pie{
    background-color: black;
}

.txt-pie{
    color: #b8b6b6;
}
