/* Botones de la nav bar */

.boton-navbar{
    color: #ffffff;
    text-decoration: none;
}

.boton-navbar:hover{
    color: #FF1E56;

}

/* Imagenes carrusel - INDEX */

.c-item{
    height: 15rem;
}

.c-img{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* Seccion info - INDEX*/

.google-fonts{
    font-family: 'Bebas Neue', sans-serif;
    color: #FF1E56;
}

.custom-card{
    color: #eaeaea;
    padding: 0%, 5% 0% 5%;
    text-align: justify;
    justify-content: center;
}

.card-image{
    width: 100%;
    object-fit: cover;
}

.custom-card-2{
    background-color: #525050;
}

.custom-card-3{
    background-color: #666464;
}

.btn-descarga {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
}

.btn-descarga:hover{
    background-color: #FF1E56;
}



/*  Footer */

.pie{
    background-color: black;
}

.txt-pie{
    color: #b8b6b6;
}

.link-footer{
    text-decoration: underline;
    color: #b8b6b6;
}

.link-footer:hover{
    text-decoration: none;
    color:#FF1E56;
}

/* Rangos */

.pie-foto{
    font-size: small;
    font-style: italic;
}

/* Armas */

.gun-box{
    border: 1px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.gun-text{
    text-align: justify;
}